html {
  scroll-behavior: smooth; 
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Barlow', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  background-color: #2B2C2B;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.nav-link {
  padding: 0 20px;
  line-height: 1.5;
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
  font-variant-caps: small-caps;
  text-decoration: none;
  color: #ffffff;
  text-decoration: none;  
  transition: color 0.5s;
}

.nav-link:hover {
  color: #929191;
}

.main {
  margin-bottom: auto;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
}

.section-left {
  width: 30%;
  padding: 0 20px;
}

.section-right {
  width: 70%;
  padding: 0 20px;
}

.section-profile {
  padding: 20px;
}

.profile-avatar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.profile-title {
  font-variant-caps: small-caps;
  font-size: 36px;
}

.profile-subtitle {
  font-variant-caps: small-caps;
}

.section-title {
  font-variant-caps: small-caps;
}

.code-python {
  font-size: 14px;
  color: #676767
}

.double {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.web-link {
  color: #929191;
  text-decoration: none;  
  transition: color 0.5s;
  font-weight: 700;
}
.web-link:hover {
  color: #000000;
  text-decoration: underline;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    color: #ffffff;
    background-color: #2B2C2B;
}

.git-footer {
  line-height: 50px;
  color:#ffffff;
}

.rss-link {
  width: 121px;
  height: 45px;
  background-image: url(assets/img/rss-white.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 900px) {
  .section-left,
  .section-right {
    width: 100%;
  }

  .nav {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: #2B2C2B;
  }
  .nav-list {
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
  }
}