html {
  scroll-behavior: smooth; 
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Barlow', sans-serif;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
}

.section {
  width: 50%;
}

@media (max-width: 768px) {
  .section {
    width: 100%;
  }
}

.section-profile {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 40px 400px 40px 30px;
}

.profile-avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.nav-link {
  border: 1px solid pink;
  padding: 0 20px;
  line-height: 1.5;
  font-family: 'Barlow', sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  color: #5a5c5a;
  text-decoration: none;  
  transition: color 0.5s;
}

.nav-link:hover {
  color: #0e0e0e;
}

.web-link {
  color: #829985;
  text-decoration: none;  
  transition: color 0.5s;
}
.web-link:hover {
  color: #4d2323;
}

header {
  border: 1px solid red;
}

main {
  border: 1px solid green;
}

footer {
  border: 1px solid blueviolet;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    color: #000000;
}

.git-footer {
  line-height: 50px;
}

.rss-link {
  width: 121px;
  height: 45px;
  background-image: url(assets/img/rs_school_js.svg);
  background-size: contain;
  background-repeat: no-repeat;
}